[user]
	name = rockcutter
	email = {{ .email }}

[alias]
	a = "!f() { cd \"${GIT_PREFIX:-.}\" && git add \"$@\" && git status -s -u; }; f"
	sw = switch
	swf = "!f () { git switch $(git --no-pager branch --sort=-committerdate | fzf); };f"
	s = status
	ss = status -s -u
	s = switch
	cm = commit
	cmm = commit -m
	b = branch
	cdiff = diff --cached
  p = pull

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
  pager = delta

[push]
	autoSetupRemote = true

[pull]
	rebase = false

